*{
    padding:0%;
    margin:0%;
}

body{
    font-family: Patrick Hand;
   
}

header{
    position:relative;
    width:100%;
    height:120px;
    background: #A6B1E1;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom-color: #5e6aa0;
    border-bottom-width: 10px;
    border-bottom-style: solid;

}

.brand{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    padding:5%;
}

.navbar{
    position: relative;
    width: 60%;
    padding:5%;
    height:100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    align-items: center;

}

ul{
    width:70%;
    float:right;
}
ul li{
    display:inline-block;
    margin-left: 5%;
    padding: 1%;
}

ul li a{
    text-decoration: none;
    font-size:17px;
    transition:all 0.3s ease;
    color:black;
    
}

ul:hover li:hover a:hover{
    color: rgb(190,116,137);

}

.pfp{
    width:70px;
    height:70px
}


.title{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:200px;
    margin-top:70px;
    margin-bottom:30px;
    font-size: 40px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #b5c130, #f9a825, #ff5722);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.menu{
    font-size:70px;
    color:rgb(41, 19, 76);
    padding: 10%;
    display:none;
    margin-top:-20px;

}


@media (max-width:790px) {

    header{
        width:100%;
    }
    .navbar{
        position:relative;
        display:block;
        width:40%;
        display:none;
    }

    .navbar.navactive{
        display:inline;
    }
    .navbar ul{
        position: absolute;
        width:100%;
        height:100vh;
        background-color:  #A6B1E1;

    }

    .menu{
        display:inline-block;
        cursor:pointer;
        
    }

    .navbar ul li {
        display:block;
        margin-top: 20px;
        width:100%;
        height:50px;
        text-align: left;
        position:relative;
        top:50px;
        padding:2%;
    

    }

    ul li:hover{
        background-color: #cfd4ed;
    }

    ul li a{
        margin-left:40px;
    }
}