.image-container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}


.image-item{
    width:500px;
    display:grid;
    column-gap: 20px;
    row-gap: 20px;

}